[submodule "slam"]
	path = slam
	url = https://github.com/KTHFSDV/slam.git
[submodule "perception/cone_detection_camera"]
	path = perception/cone_detection_camera
	url = https://github.com/KTHFSDV/cone_detection_camera.git
[submodule "fs_msgs"]
	path = fs_msgs
	url = https://github.com/KTHFSDV/fs_msgs.git
[submodule "navigation/controller"]
	path = navigation/controller
	url = https://github.com/KTHFSDV/controller.git
[submodule "navigation/path_planner"]
	path = navigation/path_planner
	url = https://github.com/KTHFSDV/path_planner.git
[submodule "perception/cone_detection_lidar"]
	path = perception/cone_detection_lidar
	url = https://github.com/KTHFSDV/cone_detection_lidar.git
[submodule "communication/ros2udp"]
	path = communication/ros2udp
	url = https://github.com/KTHFSDV/ros2udp.git
[submodule "simulation"]
	path = simulation
	url = https://github.com/KTHFSDV/simulation.git
[submodule "gnss_utils"]
	path = gnss_utils
	url = https://github.com/KTHFSDV/gnss_utils.git
