[submodule "slam"]
	path = slam
	url = git@github.com:KTHFSDV/slam.git
	branch = devel
[submodule "fs_msgs"]
	path = fs_msgs
	url = git@github.com:KTHFSDV/fs_msgs.git
	branch = devel
[submodule "simulation"]
	path = simulation
	url = git@github.com:KTHFSDV/simulation.git
	branch = devel
[submodule "gnss_utils"]
	path = sensors/gnss_utils
	url = git@github.com:KTHFSDV/gnss_utils.git
	branch = devel
[submodule "communication"]
	path = communication
	url = git@github.com:KTHFSDV/communication.git
	branch = devel
[submodule "vehicle"]
	path = vehicle
	url = git@github.com:KTHFSDV/vehicle.git
	branch = devel
[submodule "sensors/zed-ros-wrapper"]
	path = sensors/zed-ros-wrapper
	url = git@github.com:KTHFSDV/zed-ros-wrapper.git
	branch = master
[submodule "navigation"]
	path = navigation
	url = git@github.com:KTHFSDV/navigation.git
	branch = devel
[submodule "perception"]
	path = perception
	url = git@github.com:KTHFSDV/perception.git
	branch = devel
[submodule "sensors/ouster_example"]
	path = sensors/ouster_example
	url = git@github.com:KTHFSDV/ouster_example.git
[submodule "sensors/vision_opencv"]
	path = sensors/vision_opencv
	url = git@github.com:ros-perception/vision_opencv.git
	branch = melodic
[submodule "fs_common"]
	path = fs_common
	url = git@github.com:KTHFSDV/fs_common.git
